<%# <h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p> %>

<!--
<% @events.each do |event|%>
  <% event_title = event.title%>
  <% event_number = event.id%>
  <h3>Event: <%= link_to event_title, event_path(event_number)%></h3>
  <p>Host: <%= event.creator.name%></p>
  <p>Where: <%= event.location%></p>
  <p>When: <%= event.event_date%></p><br>
<%end%>
-->

<%future_events = @future_events%>
<h3>Upcoming events: </h3>
<% if future_events.any? %>
  <% future_events.each do |event|%>
    <% event_title = event.title%>
    <% event_number = event.id%>
    <h4>Event: <%= link_to event_title, event_path(event_number)%></h4>
    <p>Where: <%= event.location%></p>
    <p>When: <%= event.event_date%></p>
  <%end%>
<%else%>
  <p>There are no upcoming events.</p>
<%end%>

<%past_events = @past_events%>
<h3>Previous events: </h3>
<% if past_events.any? %>
  <% past_events.each do |event|%>
    <% event_title = event.title%>
    <% event_number = event.id%>
    <h4>Event: <%= link_to event_title, event_path(event_number)%></h4>
    <p>Where: <%= event.location%></p>
    <p>When: <%= event.event_date%></p>
  <%end%>
<%else%>
  <p>There are no past events.</p>
<%end%>