<h1>Events#new</h1>
<p>Find me in app/views/events/new.html.erb</p>

<%= form_with model: @event do |form| %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :when %>
    <%= form.date_field :when %>
  </div>
  
  <%= form.submit %><br><br>
<% end %>

