<%# <h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p> %>
<h3>Event: <%= @event.title%></h3>
<p>Host: <%= @event.creator.name%></p>
<p>When: <%= @event.event_date%></p>
<p>Where: <%= @event.location%></p>


<% if @attendees.include?(current_user)%>
  <%= button_to "Cancel RSVP", event_attendance_path(@event, current_user), method: :delete %>
<%else%>
  <%= button_to "RSVP", event_attendances_path(@event)%>
<%end%>

<p>Attendees include:</p>
<% @attendees.each do |attendee|%>
  <li>Guest: <%= attendee.name%></li>
<%end%>

<br>

<% if @current_user == @event.creator %>
  <%= link_to "Edit Event", edit_event_path%> <br>
  <%= link_to "Delete Event", event_path, data: { "turbo-method": :delete } %> <br>
<%else%>

<%end%>

